geocoder
krakenex
matplotlib
numpy
ortools
requests
pandas
pvlib
pykrakenapi
pytest
pytest-dependency
scipy
texttable
# Curses menu:
windows-curses==2.3.1 ; sys_platform == 'win32'
# Ascii menu:
asciimatics
# Weather:
beautifulsoup4
wget
CairoSVG
Pillow
# Image recognition
opencv-python
screeninfo
